<div class="signin wrapper animated fadeInDown fast">
    <form class="form-signin" ng-submit="vm.attemptLogin()">       
        <h3 class="form-signin-heading">Welcome Back! Please Sign In</h3>
        <hr class="colorgraph">

        <div class="text text-danger text-center " ng-if="vm.errorMessages[0] != null">
            <span ng-repeat="msg in vm.errorMessages">
                {{ msg }}
            </span>
        </div>
        <br>
        
        <input type="text" autocomplete="off" class="form-control" name="Username" ng-model="vm.user.email" placeholder="Username" required="" autofocus="" />
        <input type="password" class="form-control" name="Password" ng-model="vm.user.password" placeholder="Password" required=""/>     		  
        
        <button class="btn btn-lg btn-primary btn-block"  name="Submit" value="Login" type="Submit">Login</button>  			
    </form>			
</div>