<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Start Bootstrap</a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li ng-class="{active: isActive('/home')}"><a href="/#!/home">Home</a></li>
                <li ng-class="{active: isActive( menu.href ) }" 
                    ng-if="!restricted(code)"
                    ng-repeat="(code, menu) in menus">
                    <a ng-href="{{ menu.href || 'javascript:;' }}" ng-click="menu.ngClick()" ng-bind-html="getLabel(menu)"></a>
                </li>
            </ul>

            <ul class="nav navbar-nav pull-right">
                <li ng-class="{active: isActive( menu.href ) }" 
                    ng-if="!restricted(code)"
                    ng-repeat="(code, menu) in secondaryMenus">
                    <a ng-href="{{ menu.href || 'javascript:;' }}" ng-click="menu.ngClick()" ng-bind-html="getLabel(menu)"></a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>