/* app css stylesheet */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: asset-url('bootstrap/dist/fonts/glyphicons-halflings-regular.eot');
  src: asset-url('bootstrap/dist/fonts/glyphicons-halflings-regular.eot') format('embedded-opentype'), 
    asset-url('bootstrap/dist/fonts/glyphicons-halflings-regular.woff2') format('woff2'), 
    asset-url('bootstrap/dist/fonts/glyphicons-halflings-regular.woff') format('woff'), 
    asset-url('bootstrap/dist/fonts/glyphicons-halflings-regular.ttf') format('truetype'), 
    asset-url('bootstrap/dist/fontss/glyphicons-halflings-regular.svg') format('svg');
}

.dataTable {
  th {
    padding: 10px 18px;
  }
}

@media screen and (max-width: 980px)
{
  body {
    padding-top: 0 !important;
    /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
  }
}
