<section class="demo">
    <h1>DataTable</h1>
    <div class="row" style="padding: 0 32px">
        <div class="col-md-12">
            <table datatable="" dt-options="vm.dtOptions" dt-columns="vm.dtColumns" class="row-border hover"></table>
        </div>
    </div>
</section>

<section class="demo">
    <h1>Modals</h1>
    <a ng-click="vm.openModal()" class="btn btn-primary btn-large">Learn more &raquo;</a>
</section>