
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap Core CSS -->
    <%= stylesheet_link_tag 'application', media: 'all' %>

    <!-- Custom CSS -->
    <style>
    body {
        padding-top: 70px;
        /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
    }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <bootstrap-nav></bootstrap-nav>

    <!-- Page Content -->
    <div class="container">

        <!--Here go the partials -->
        <div ng-view></div>

        <!-- Footer -->
        <hr/>
        <footer>
            <p>&copy; Company 2013 - {{ 'Version %VERSION%.' | interpolate }}</p>
        </footer>


    </div>
    <!-- /.container -->

    <%= javascript_include_tag 'application' %>
</body>

</html>